# dependencies
app/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts

# Native
app/.kotlin/
app/*.orig.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision

# Metro
app/.metro-health-check*

# debug
app/npm-debug.*
app/yarn-debug.*
app/yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
app/.env*.local

# typescript
app/*.tsbuildinfo

app/app-example

# generated native folders
app/ios
app/android

# vscode settings
app/.vscode/
